<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cerulean/bootstrap.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=K2D:ital,wght@1,500&family=Montserrat:wght@400;500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:wght@100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Petit+Formal+Script&display=swap"
        rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar navbar-gradient" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/images/pizza.png" class="mr-2" style="width: 30px;">
                <span class="courgette-regular" style="font-size: 25px;">PizzAI Plazza</span><br>

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div>
                <ul class="navbar-items">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/templates/about.html" class="about-link">About the project</a></li>

                </ul>
            </div>
        </div>
    </nav>



    {% block body %}

    {% endblock body %}


</body>

<footer id="dk-footer" class="dk-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="dk-footer-box-info petit-formal-script-regular">
                    <!-- <a href="index.html" > -->
                    <img src="/static/images/footer image.jpg" alt="footer_logo" style="width: 17rem;">
                    <!-- </a> -->
                    <p style="line-height: 1.5rem; letter-spacing: 2px; margin-top: 2rem;">
                        AI Voice Ordering, Dehmi Kalan's Finest Pizzas - Taste the Future in Jaipur, Rajasthan! </p>
                    <div class="footer-social-link">
                        <h3>Follow us</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social link -->
                </div>
                <!-- End Footer info -->

            </div>
            <!-- End Col -->
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-icon">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->

                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>+91 XXXXX XXXXX</h3><br>
                                <p>Give us a call</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Contact Row -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading ml-5">
                                <h3 style="margin-left: 2rem;">Useful Links</h3>
                            </div>
                            <ul style="margin-left: 5rem;">
                                <li>
                                    <a href="/templates/about.html" class="about-link">About the project</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Projects</a>
                                </li>
                                <li>
                                    <a href="#">Our Team</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Widget -->
                    </div>
                    <!-- End col -->
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget">

                            <p style="line-height: 2rem; letter-spacing: 2.5px;">
                                <!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                                This project uses Google's Speech-to-Text and Text-to-Speech APIs within a Flask web
                                application. The frontend is built with HTML, CSS, and JavaScript, while libraries like
                                Jinja, Pandas, and NLTK enhance functionality, allowing voice command interactions for a
                                seamless user experience. To know more, click <a href="/templates/about.html"
                                    class="about-link">here</a>
                            </p>

                            <!-- End form -->
                        </div>
                        <!-- End footer widget -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span></span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>


</footer>

<script>
    document.querySelectorAll('.about-link').forEach(function (element) {
        element.addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = "/about";
        });
    });


</script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block script %}

{% endblock script %}
